.header_box {
  width: 99%;
  border: thin solid #9a9999;
  background: url(/images/bg_list_header.png) repeat-x;
}
.header_box img {
  margin: 10px;
  float: left;
}
.header_box .new_link {
  margin-right: 15px;
  margin-top: 5px;
  float: right;
}
table#dashboard_top td {
}
table#dashboard_top th {
  font-weight: bold;
}

#search_box {
  margin-top: 3px;
  margin-left: 50%;
}
#dashboard_boxes {
  margin: 0 10%;
}
.dashboard_box {
  background: url(/images/bg_dashboard_box.png) repeat-x;
  margin: 1em;
  float: left;
  width: 350px;
  border: thin solid #9a9999;
}
.dashboard_box h2 {
  color: #2981b0;
}
.dashboard_box p {
  padding: 0.3em 0.5em;
}
.dashboard_box img.header {
  margin: 5px;
  float: right;
}
.dashboard_box table {
  width: 100%;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
}
.dashboard_box table td, .dashboard_box table th {
  border: thin solid #9a9999;
}
.dashboard_box form {
  margin: 0;
}

td form {
  margin: 0;
}

.marketing-link {
  width: 50%;
  margin: 2em 0;
  text-align: center;
  float: left;
}

body.agent_interface_maps_show fieldset.report {
  width: 100%;
  border: none;
  border-top: 2px solid #AAA;
  margin: 0 0 2em 0;
  padding: 0 0 1em 0;
}

body.agent_interface_maps_show fieldset.report.first {
  border-top: none;
}

body.agent_interface_maps_show fieldset.report.first legend{
  display: none;
}

body.agent_interface_maps_show fieldset.report.first table {
  width: 100%;
}

body.agent_interface_maps_show fieldset.report legend {
  font-size: 1.6em;
  margin: 0;
  padding-right: 0.5em;
}

body.agent_interface_maps_show #content fieldset.report h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

body.agent_interface_maps_show div.chart img{
  border: none;
}

body.agent_interface_maps_show hr {
  border: none;
}

table.subreport th {
  width: 125px !important;
}
.new_map_lump_sum_tooltip span{
  bottom: 0 !important;
  top: inherit !important;
}
/*.start_date_agent_dd:nth-child(2){*/
/*width: 30% !important;*/
/*}*/
/*.start_date_agent_dd:nth-child(4){*/
/*width: 30% !important;*/
/*}*/
/*.start_date_agent_dd:nth-child(6){*/
/*width: 30% !important;*/
/*}*/
.start_date_agent_dd > span.select-area{
  width: 30% !important;
}
.large-table-fix {
  table-layout: auto;
}
.special_tips_styles span {
  left: -200px !important;
  top: 10px !important;
}
.small-buttons {
  width: auto;
}
.setup_logos span {
  left: 10px !important;
}
.setup_logos {
  left: 7px;
  top: -32px;
}
.franchisee-setup .tip span{
  left: -200px !important;
  top: 10px !important;
}
.franchisee-setup .theme-banners > .col-md-5 {
  min-height: 200px;
}

.franchisee-setup .theme-banners > .col-md-5 .row .col-md-6:last-child{
  margin-top: 18px;
}
.space-1 {
  margin-top: 29px;
}
.delete-custom-banner{
  margin-top: 15px;
}
.franchisee-setup .input-filed {
  padding-right: 20px;
}
.inline-style-fixed{margin: 0;}
.inline-style-fixed > div{padding: 0;}
.inline-style-fixed > div:first-child{width: 20px;}
.inline-style-fixed > div:last-child{width: calc(100% - 30px); float: right;}
#clients-appointments .appointment-arrows-holder a {line-height: 24px;}
#clients-daily-tasks > h2 {font-size: 24px; background: #ececec;}
#clients-daily-tasks .tip {font-size: 18px;}
#clients-daily-tasks .pending-task-list {border: 1px solid #fff; background: #fff;}
.pending-and-completed-tasks {background: #ffffff !important;}
.appointments-table {background: #fff;}
.white-box-container {
  padding: 20px 10px 20px 20px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 30px;
  border-radius: 4px;
}
#emails_tip .tooltip_editable {width: 231px !important;}
.agent_image .special_tips_styles {
  right: -20px;
}
.trial_period_extension a.tip span {
  left: -200px;
}
.terms_and_cond a {
  margin-top: 25px;
  display: block;
  margin-left: -70px;
}
.franchisee_setup_tabs .client-report-data { display: none; }
h3.franchisee_setup_tabs_headings { border-bottom: 0px solid #eee; }
a.franchisee_setup_tabs_eye { padding: 13px 15px !important; cursor: pointer;}
div.franchisee_setup_tabs  {cursor: pointer;}
.franchisee_setup_tabs {overflow: visible !important;}
.cr_div a.tip { margin-left: -35px; top: 6px; }
.admin-search-holder {overflow: visible;}
.calculators_tabs_eye {padding: 14px 15px !important;cursor: pointer;}
.calculators_tabs_eye i {color: #ffffff;}
.listings_tabs {padding: 0px !important;}
.listings_tabs .admin-white-box {border: 0px;box-shadow: none;}
.tooltip_for_reports {float: none !important;padding: 0 !important;background: #fff !important;}
.franchisee_setup_tabs .client-report-data { display: none; }
h3.franchisee_setup_tabs_headings { border-bottom: 0px solid #eee; }
a.franchisee_setup_tabs_eye { padding: 13px 15px !important; cursor: pointer;}
div.franchisee_setup_tabs  {cursor: pointer;}
.franchisee_setup_tabs {overflow: visible !important;}
.office-clients {text-decoration: underline;}
.office-clients {text-decoration: underline;}
.dashboard_tabs .client-report-data {padding: 0px;}
.dashboard_tabs .admin-dashboard-widget, .admin-white-box {border: 0px;box-shadow: none;}
.calculators_tabs_eye {padding: 14px 15px !important;cursor: pointer;}
.calculators_tabs_eye i {color: #ffffff;}
.listings_tabs {padding: 0px !important;}
.listings_tabs .admin-white-box {border: 0px;box-shadow: none;}
.tooltip_for_reports  {float: none !important;padding: 0 !important;background: #fff !important;}
/*.tutorials_tabs .tutorial-holder h3 {background: #eee;}*/
.tutorials_tabs .tutorial-holder:hover {background: #f9f9f9;}
.tutorial-holder h3 {background: #f9f9f9;}
.tutorial-holder {background: #f9f9f9;}
.dashboard_tabs .client-report-data {padding: 0px;}
.dashboard_tabs .admin-dashboard-widget, .admin-white-box {border: 0px;box-shadow: none;}
.cancel_btn {background: #dddddd !important; color: #333 !important;}
#admin-sidebar .admin-logo-holder {padding: 15px;overflow: hidden;margin: 0 0 10px;}
.tooltip_for_reports span.tooltip_editable {left:10px !important;}
@media (max-width: 1366px){
  #admin-sidebar #admin-main-nav>ul>li>a {padding: 10px 15px; font-size: 14px !important;}
}