/*MUTUAL STYLES TO ALL THEME FILES*/

.edit_financial_section_heading {
    display: inline-block;
    padding: 10px 15px;
}
.financial-holder .financial-panel h4 {
    padding: 0px;
}
.edit_financial_eye i {
    color: #fff;
}
.edit_financial_eye:hover {
    color: #fff;
}
.financial-holder .financial-panel h4 {
    padding-left: 13px;
}
.client-report-data {
    display: none;
}
.wa_checkboxes {
    top: 2px !important;
    left: 140px !important;
}
.wa_checkboxes_1 {
    top: 3px !important;
    left: 170px !important;
}
.special_tips_styles span {
    left: -200px !important;
    top: 10px !important;
}
.special_1 {
    top: 7px !important;
    float: right    ;
}
.special_1 span {
    left: -210px !important;
    top: 12px !important;
}
.special_2 span{
    left: 10px !important;
}
.report_switch {
    top: 5px !important;
    left: 200px !important;
}
.tooltip_for_reports {
    float: none !important;
    padding: 0 !important;
    background: #fff !important;
}
.tooltip_for_reports span {
    left: 10px  !important;
}
.client-report-box {
    overflow: visible;
}
#clients-reconcilation p a {
    border-bottom: 0 !important;
}
.tooltip_for_business span {
    left: 10px !important;
}
.dashboard-switch .select-area .select-opener:after {
    color: #fff !important;
}
.switch-report-holder .select-area .select-opener:after {
    color: #fff !important;
}
.tooltip_for_new_action span {
    left: -200px !important;
    top: 27px !important;
    text-transform: none !important;
}
.client-report-box h3:hover {
    cursor: pointer;
}
#clients-appointments .appointment-arrows-holder a {
    line-height: 24px;
}
.financial-table {
    overflow: visible !important;
}
.ballon_payment{
    position: absolute;
    right: 0;
    float: none !important;
}
.ballon_payment span {
    top: 5px;
    left: 10px;
    left: -220px !important;
}
.monthly_savings span a, .monthly_savings span a:hover {color: #fff;}
.monthly_savings span a span {left: 10px;}
.monthly_savings {margin-top: 2%;}
.monthly_savings span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.calculators_tabs_eye {padding: 16px 15px !important;cursor: pointer;}
.calculators_tabs_eye i {color: #ffffff;}
.remove_pict {
    margin: 0;
    color: #303030 !important;
}
.mortgage_type .radio-inline {padding-left: 0px;}
.wa_checkboxes_2 {margin-left: -30px !important;}
h2.main-heading {font-size: 24px !important;}
#clients-report .table-responsive {overflow-x: inherit !important;}
#clients-report .table-responsive {overflow-x: inherit !important;}
h2.main-heading {font-size: 24px !important;}
.cancel_btn {background: #dddddd !important; color: #fff !important;}
.play-video {color: #303030; text-decoration: underline;}
.play-video:hover {color: #303030;text-decoration: underline;}
.resource-img {border: 2px solid #eee;max-width: 250px;}