<div class='control-label col-lg-2'></div>
<div class="col-sm-6">
  <%= f.select :name, Language::NAMES,{prompt: 'Select Language'}, :class => 'form-control'%>
</div>

<div class="col-sm-4">
  <%= f.select :level, Language::LEVELS,{prompt: 'Select Level'}, :class => 'form-control'%>
  <%= f.check_box :_destroy %> Delete
</div>