<%= f.label :specialization, :class => 'control-label col-lg-2' %>
<div class="col-lg-5">
  <%= f.text_field :name, :class => 'form-control', :placeholder => "Name"%>
</div>
<div class="col-lg-5">
  <%= f.text_field :description, :class => 'form-control', :placeholder => "Description"%>
  <%= f.check_box :_destroy %> Delete
</div>