<div id="content">
  <div id="pi-chart" style="width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="line-chart" style="width: 500px; height: 250px; margin: 0 auto"></div>
</div>
<script type="text/javascript">
    Highcharts.chart('pi-chart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Skill Set Analysis',
            style: {
//                color: '#bd0303',
//                fontWeight: 'bold'
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [
                   {name: 'ITSM',y: 59.33},
                   {name: 'ITOM',y: 24.40,sliced: true,selected: true},
                   {name: 'ITBM',y: 10.38},
                   {name: 'HR SERVICE',y: 4.77},
                   {name: 'LANGUAGE',y: 0.91},
                   {name: 'INTEGRATIONS',y: 0.2}
                  ]
        }]
    });
</script>