<div id="content">
  <div id="pi-chart" style="width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="line-chart" style="width: 500px; height: 250px; margin: 0 auto"></div>
</div>
<script type="text/javascript">
    Highcharts.chart('pi-chart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Skill Set Analysis',
            style: {
//                color: '#bd0303',
//                fontWeight: 'bold'
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: <%= @data %>
        }]
    });
</script>