<div id="content">
  <div id="pi-chart" style="width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="line-chart" style="width: 500px; height: 250px; margin: 0 auto"></div>
</div>
<script type="text/javascript">
    Highcharts.chart('pi-chart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'ITSM',
                y: 59.33
            }, {
                name: 'ITOM',
                y: 24.40,
                sliced: true,
                selected: true
            }, {
                name: 'ITBM',
                y: 10.38
            }, {
                name: 'HR SERVICE',
                y: 4.77
            }, {
                name: 'LANGUAGE',
                y: 0.91
            }, {
                name: 'INTEGRATIONS',
                y: 0.2
            }]
        }]
    });
    Highcharts.chart('line-chart', {
        chart: {
            type: 'xrange'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: ''
            },
            categories: [],
            reversed: true
        },
        series: [{
//            name: 'Project 1',
            // pointPadding: 0,
            // groupPadding: 0,
            borderColor: 'gray',
            pointWidth: 20,
            data: [{
                x: Date.UTC(2014, 10, 21),
                x2: Date.UTC(2014, 11, 2),
                y: 0,
                partialFill: 0.7
            }, {
                x: Date.UTC(2014, 11, 2),
                x2: Date.UTC(2014, 11, 5),
                y: 1
            }, {
                x: Date.UTC(2014, 11, 8),
                x2: Date.UTC(2014, 11, 9),
                y: 2
            }, {
                x: Date.UTC(2014, 11, 9),
                x2: Date.UTC(2014, 11, 19),
                y: 1
            }, {
                x: Date.UTC(2014, 11, 10),
                x2: Date.UTC(2014, 11, 23),
                y: 2
            }],
            dataLabels: {
                enabled: false
            }
        }]
    });
</script>