<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="">
    <%= image_tag @candidate.image.url, class: "header-img" %>
  </div>
  <div class="header-info">
    <span class="candidate-address">
      <%= @candidate.address %>
    </span></br>
    <span class="candidate-name">
      <%= @candidate.f_name %>
    </span></br>
    <span class="candidate-name">
      <%= @candidate.l_name %>
    </span></br>
  </div>
</div>
