.centered-form{
    /*margin-top: 60px;*/
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.address{
    float: right;
    display: block;
    background: black;
}

.pdf_iframe iframe {
    width: 53rem;
    height: 30rem;
}

.break-line {
    padding-top: 9px;
    margin: 40px 0 20px;
    border-top: 1px solid #eeeeee;
}

.move-right {
    float: right;
}

#hidden_img {
    display: none;
    margin: 10px 0 0 0;
    height: 15rem;
    width: 10rem;
}

.header-img {
    height: 19rem;
    width: 11rem;
    float: right;
    max-width: 11rem;
    max-height: 19rem;
    display: block;
}

.header-info {
    float: right;
}