.centered-form{
    /*margin-top: 60px;*/
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.address{
    float: right;
    display: block;
    background: black;
}

.pdf_iframe iframe {
    width: 53rem;
    height: 30rem;
}

.break-line {
    padding-top: 9px;
    margin: 40px 0 20px;
    border-top: 1px solid #eeeeee;
}

.move-right {
    float: right;
}

#hidden_img {
    display: none;
    margin: 10px 0 0 0;
    height: 15rem;
    width: 10rem;
}

.header-img {
    height: 19rem;
    width: 11rem;
    float: right;
    max-width: 11rem;
    max-height: 19rem;
    display: block;
}

.header-info {
    float: right;
}

.candidate-address {
    float: right;
    margin: 10px;
}

.candidate-name {
    font-size: -webkit-xxx-large;
    float: right;
    font-weight: bold;
    color: #bd0303;
    margin-top: 22px;
    margin-right: 5px;
}

.candidate-phone {
    float: right;
    margin: 10px;
}

.top-margin {
    margin-top: 1px;
}

.top-header {
    background: honeydew;
}

.exp-heading {
    margin-top: 1px;
    font-size: xx-large;
    font-weight: bold;
    color: #bd0303;
}

.exp-data {
    background: antiquewhite;
    height: 15rem;
    margin-top: 10px;
}

.th {
    color: #bd0303;
}