<nav class="navbar navbar-inverse no-border-radius">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Resume Assessment</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/candidates/report">Report</a></li>
      <li class="active"><a href="/candidates/report.pdf?debug">Report Debug</a></li>
      <li class="active"><a href="/candidates/report.pdf">PDF Report</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/edit"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
            <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
      <% else %>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>