<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>

</head>
<body onload=''>
<div id="header">
  <%= image_tag wicked_pdf_asset_base64('logo.png') %>
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>