<div class="pdf_header">
  <section>
    <%= wicked_pdf_image_tag 'NB-logo.png' %>
  </section>
  <div style="display:inline-block; width:56px; height: 100%; background-color:#fff; ">
    <%= try(:comp_address) %>
  </div>
  <div class="address">
    <%= try(:web) %>
  </div>
</div>